
.texto-trispace {
    color: #DB2E23;
    font-weight: 100;
    font-family: 'Trispace', sans-serif !important;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y:hidden;

    overflow-x: hidden; /* Oculta el desplazamiento vertical del documento */
}

.container {
    width: 100%; /* Ancho total del contenido */
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
    white-space: nowrap; /* Evita el salto de línea */
}

.section {
    vertical-align: top;
    width: 370%; /* Ancho igual al ancho de la ventana */
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px; /* Tamaño de fuente */
    margin-right: -4px;
}

.portals {
    z-index: 1;
    background-image: url(../img/portal2.gif);
    background-size: cover;
    top: 555px;
    left: 7104px;
    width: 331px;
    height: 342px;
    position: absolute;
}
.portalMoon {
    left: 4114px !important;
}
.containers {
    position: relative;
}

.allContainersTitles {
    width: 0;
    display: grid;
    justify-items: center;
    /* z-index: 1; */
    top: 440px;
}


.sagradaFamilia {
    left: 2400px;
}
.fanVideogames {
    left: 3735px;
}
.designFrontEnd {
    left: 5125px;
}
.ap {
    left: 6525px;
}
.apTitle {
    bottom: 60px;
    width: 860px;
}
#js{
    left: -250px;
    bottom: -351px;
    width: 70px;
}
#css {
    left: 170px;
    top: 221px;
    width: 520px;
}

#tv {width: 600px;}
.barcelonaTitle {
    width: 602px;
    bottom: 60px;
}
.imgsMap1 {
    z-index: 1;
    position: absolute;
}
.alien {
    z-index: 2;
    top: 150px;
    left: 0;
}
.earth {
    z-index: 0;
    bottom: -145px;
    left: 100px;
}
.saturn, .rocket {
    z-index: 0;
    left: 1750px;
    bottom: -449px;
}
.rocket {
    bottom: -449px !important;
    width: 1300px;
    left: 2950px !important;
}
.cable {
    z-index: 1;
    left: 267px;
    position: absolute;
    width: 170px;
    top: 256px;
}
.cable2 {
    width: 278px;
    top: -38px;
    left: 1140px;
}
.cable3 {
    width: 278px;
    top: -38px;
    left: 2120px;
}
.spaceFlagsIcons {
    z-index: 1;
    border-radius: 20px;
    top: -160px;
    left: 440px;
    background-color: #597A53;
    position: absolute;
    height: 289px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag2 {
    left: 1420px;
}
.flag3 {
    left: 2400px;
}
.titleForm {
    left: 590px;
    top: 190px;
}
.iconsWorks {
    border-radius: 20px;
    padding: 10px;
    border: 5px solid transparent;
}
.iconsWorks:hover {
    cursor: pointer;
    animation: border_illuminate 2s linear infinite;
}
.projectName {
    font-size: 25px;
}
.separatedIcon {
    margin-left: 10px;

}
#javaIcon {
    margin-bottom: 31px;
}
#nassaIcon {
    width: 70px;
    position: absolute;
    top: 5px;
    left: 0;
}
.flagsTitle {
    top: 20px;
    position: absolute;
}
.piramid {
    z-index: 0;
    left: 69px;
    width: 500px;
    top: 544px;
}
.tooltip {
    visibility: hidden;
    /* display: none; */
    text-align: center;
    width: 310px;
    position: absolute;
    bottom: 134px;
    left: 55%;
    transform: translateX(-50%) translateY(10px);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 19px;
    opacity: 0;
    white-space: normal;
    transition: opacity 0.9s ease, transform 0.9s ease;
    
    overflow: hidden;
    text-overflow: ellipsis;
}
.image-wrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transform: translateX(-50%) translateY(0);
}
.textLabel {
    margin: 10px;
    line-height: 1.2;
    text-align: justify;
}

.labelImgs {
    max-height: 169px;
    width: 300px;
    max-width: 300px;
    border-radius: 30px;
}
.imageWithLink:hover {
    cursor: pointer;
}

#mario {
    z-index: 2;
    left: 2950px;
    top: 806px;
    width: 91px;
}
#kratos {
    z-index: 2;
    width: 100px;
    left: 4200px;
    top: 806px;
}
.grass {
    width: 100%;
}
.m1 {
    /* background-color: #00BFF3; */
    background-color: #73CDFF;   
}
.m2 {
    width: 4300px !important;
    background-color: #000000;
} 
.m3 {
    width: 1740px !important;
    background-color: #F3D094;
}

.title {
    left: 3%;
    top: 340px;
}
.title2 {
    left: 16%;
    top: 340px;
}
.titleImg {
    width: 500px;
    position: absolute;
}
.textTitle1 {
    left: 23px;
    position: absolute;
    top: 90px;
}
.t2 {
    left: 151px;
}
.scrollDown {
    left: 149px;
    position: absolute;
    top: 420px;
}

.arrow,
.arrow:before{
    position: absolute;
    left: 50%;
}
.arrow{
    width: 23px;
    height: 24px;
    top: 443px;
    position: absolute;
    left: 292px;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #DB2E23 solid;
    border-bottom: 2px #DB2E23 solid;
}
.arrow2{
    left: 129px;
}
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #DB2E23 solid;
    border-bottom: 1px #DB2E23 solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
@keyframes arrow{
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

@keyframes border_illuminate {
    0% {
        border-color: transparent;
    }
    25% {
        border-top-color: rgba(15, 58, 151, 0.8);
    }
    50% {
        border-right-color: rgba(15, 58, 151, 0.8);
    }
    75% {
        border-bottom-color: rgba(15, 58, 151, 0.8);
    }
    100% {
        border-left-color: rgba(15, 58, 151, 0.8);
    }
}
  
  
  