.texto-trispace {
    color: #DB2E23;
    font-weight: 100;
    font-family: 'Trispace', sans-serif !important;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y:hidden;

    overflow-x: hidden; /* Oculta el desplazamiento vertical del documento */
}

.container {
    width: 100%; /* Ancho total del contenido */
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
    white-space: nowrap; /* Evita el salto de línea */
}

.section {
    width: 370%; /* Ancho igual al ancho de la ventana */
    height: 100%;
    display: inline-table;
    /* display: inline-block; */
    font-size: 16px; /* Tamaño de fuente */
}


.ground, .trees, .mountains, .title, .title2, .clouds, .sagradaFamilia, .grass, .barcelona, .fanVideogames, .designFrontEnd, .ap, .portals {
    position: relative;
}

.allContainersTitles {
    width: 0;
    display: grid;
    justify-items: center;
    z-index: 1;
    top: 440px;
}
.sagradaFamilia {
    left: 2400px;
}
.fanVideogames {
    left: 3735px;
}
.designFrontEnd {
    left: 5125px;
}
.ap {
    left: 6525px;
}
.apTitle {
    bottom: 60px;
    width: 860px;
}
#js{
    left: -250px;
    bottom: -351px;
    width: 70px;
}
#css {
    left: 170px;
    top: 221px;
    width: 520px;
}

#tv {width: 600px;}
.barcelonaTitle {
    width: 680px;
    bottom: 60px;
}
.imgsMap1 {
    z-index: 1;
    position: absolute;
}
#mario {
    z-index: 2;
    left: 2950px;
    top: 806px;
    width: 91px;
}
#kratos {
    z-index: 2;
    width: 100px;
    left: 4200px;
    top: 806px;
}
.grass {
    width: 100%;
}
.m1 {
    /* background-color: #00BFF3; */
    background-color: #73CDFF;   
}
.m2 {
    background-color: #000000;
} 
.m3 {
    background-color: #F3D094;
}

.title {
    left: 3%;
    top: 340px;
}
.title2 {
    left: 16%;
    top: 340px;
}
.titleImg {
    width: 500px;
    position: absolute;
}
.textTitle1 {
    left: 23px;
    position: absolute;
    top: 90px;
}
.t2 {
    left: 151px;
}
.scrollDown {
    left: 149px;
    position: absolute;
    top: 420px;
}

.arrow,
.arrow:before{
    position: absolute;
    left: 50%;
}
.arrow{
    width: 23px;
    height: 24px;
    top: 443px;
    position: absolute;
    left: 292px;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #DB2E23 solid;
    border-bottom: 2px #DB2E23 solid;
}
.arrow2{
    left: 129px;
}
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #DB2E23 solid;
    border-bottom: 1px #DB2E23 solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
@keyframes arrow{
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}
  
  
  
  